/* Base styles */
#Form-portion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

.form-login, .form-welcome, .form-Div1, .form-Div2, .form-Div3, .form-Div4, .form-Div5 {
    margin: 0 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.form-login {
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
}

.form-welcome {
    margin-top: -10px;
    color: rgb(132, 128, 128);
    font-size: 1rem;
}

.PlaceHolders {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(113, 109, 109);
}

.inputTypes, .submitType {
    margin-top: 10px;
    width: 100%;
    max-width: 270px;
    height: 40px;
    border-radius: 5px;
}

.submitType {
    background-color: blueviolet;
    border: none;
}

div p {
    display: inline;
    font-family: sans-serif;
    text-align: right;
    margin-right: 0px;
    font-size: 0.75rem;
    font-weight: bold;
    color: rgb(181, 176, 176);
}

#sign {
    color: blueviolet;
    font-weight: bold;
    font-family: sans-serif;
}

/* Media queries for specific screen sizes */
@media only screen and (max-width: 599px) {
    #Form-portion {
        width: 100%;
    }

    .form-login {
        font-size: 1.5rem;
    }

    .form-welcome {
        font-size: 0.875rem;
    }

    div p {
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    #Form-portion {
        width: 80%;
    }

    .form-login {
        font-size: 1.75rem;
    }

    .form-welcome {
        font-size: 1rem;
    }

    div p {
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #Form-portion {
        width: 70%;
    }

    .form-login {
        font-size: 2rem;
        margin-top: 60px;
    }

    .form-welcome {
        font-size: 1rem;
    }

    div p {
        font-size: 1rem;
    }
    #Forgot{
        font-size: 0.8rem;
    }
    #newUser{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #Form-portion {
        width: 60%;
    }

    .form-login {
        font-size: 2.25rem;
        margin-top: 60px;
    }

    .form-welcome {
        font-size: 1rem;
    }

    div p {
        font-size: 1.125rem;
    }
    #Forgot{
        font-size: 0.8rem;
    }

    #newUser{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1200px) {
    #Form-portion {
        width: 50%;
    }

    .form-login {
        font-size: 2.5rem;
        margin-top: 60px;
    }

    .form-welcome {
        font-size: 1rem;
    }

    div p {
        font-size: 1.25rem;
    }
    #Forgot{
        font-size: 1rem;
    }
    #newUser{
        font-size: 1rem;
    }
}
