@import url("welcome.css");
@import url("form.css");


.container{
    display: flex;
    width: 650px;
    height: 600px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 300px;
}

